*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;	
	font-size: 12px;
	font-family: '微软雅黑';
}
a,ul{
	text-decoration: none;
}
ul{
	list-style: none;
}
.clr{
	zoom:1;
}
.clr:after{
	content: '';
	line-height: 0;
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
}

#header{
	max-width: 978px;
	height: auto;
	margin:0 auto;
}
#header .topIcon{
	width: auto;
	height: 45px;
	padding: 15px 0 15px 0;
	background-color: #ffffff;
}
#header .topIcon .logo{
	width: auto;
	height: auto;
	float: left;
}
#header .topIcon .logo img{
	width: auto;

}
#header .topIcon .loginBtn{
	float: right;
}
#header .topIcon .loginBtn a{
	padding: 10px 50px;
	background-color: #4285f4;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	margin-top: 5px;
}
#header .menu{
	width: auto;
	height: 33px;
	margin: 4px 0;
	margin-bottom: 8px;
}
#header .menu .main_menu{
	float: left;
}
#header .menu .help_menu{
	float: right;
}
#header .menu ul li{
	width: auto;
	line-height: 33px;
	display: inline-block;
	margin-right: 44px;
	word-spacing: 2px;
	font-size: 14px;
	transition:all 0.5s;
	border-bottom: 3px solid transparent;
}
#header .menu ul li.click{
	border-bottom: 3px solid #4285f4;
}
#header .menu ul li:hover{
	border-bottom: 3px solid #4285f4;
}
#header .menu ul li a{
	color: #444;
}
.banner{
	width: auto;
	height: 100%;
	position: relative;
}
.banner .back_img{
	width: 100%;
	height: 100%;
}
.banner .freeTrial{
	width: auto;
	height: 35px;
	position: absolute;
	left: 50%;
	top: 70%;
	margin-left: -70px;
	padding: 0 25px;
	background-color: #4285f4;
	border-radius: 5px;
	color: #ffffff;
	line-height: 35px;
	font-size: 14px;
}
.banner .freeTrial img{
	width: 20px;
	margin-left: 15px;
	position:relative;
	top: 3px;
}
.con_nav{
	max-width: 673px;
	margin: 0 auto;
}
.con_nav ul{
	width: auto;
	height: 50px;
}
.con_nav ul li{
	font-size: 14px;
	line-height: 50px;
	float: left;
	width: auto;
	padding: 0 10px;
	margin-right: 50px;
}
.con_nav ul li.click{
	color: #4285f4;
	border-bottom: 2px solid #4285f4;
}
.con_nav ul li:hover{
	color: #4285f4;
	border-bottom: 2px solid #4285f4;
}
.con_nav ul li:last-child{
	margin-right: 0px;
}
.discounts{
	width: 100%;
	height:auto;
	border-top: 1px solid #d6d7d8;
	background-color: #f9f9f9;
	margin-top: 2px; 
}
.countContent{
	max-width: 1200px;
	min-width: 978px;
	height: auto;
	margin: 26px auto;
	
}
.countContent .title{
	width: 100%;
	background-color: #4285f4;
}
.countContent .title h1{
	width: 90%;
	margin: 0 auto;
	height: 70px;
	color: #fff;
	line-height: 70px;
	border-bottom: 1px dotted #fff;
	font-weight: 400;
}
.countContent .title h1 i{
	margin-right: 40px;
	margin-top: 3px;
	border-left: 5px solid #fff;
}
.countContent .title .tj{
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
}
.countContent .title .tj img{
	vertical-align: middle;
	margin-top:-3px;
}
.countContent .title .tj p{
	margin-left: 10px;
	color: #fff;
	display: inline-block;.
	vertical-align: middle;
}
.countContent .list{
	width:100%;
	background: #fff;
	border-right: 1px solid #dddddd;
}
.countContent .list li{
	width:24.8%;
	height: auto;
	border: 1px solid #dddddd;
	border-right: 0px;
	float: left;
	color: #666;
	text-align: center;
}
.countContent .list li .type{
	width: 90%;
	margin-left:5%;
	padding: 10px 0;
	border-bottom: 1px dashed #dddddd;
}
.countContent .list li .type h1{
	line-height: 24px;
	margin-bottom: 5px;
}
.countContent .list li p{
	font-size: 16px;
	line-height: 24px;
}
.countContent .list li .introduce{
	width: 90%;
	margin-left:5%;
	padding: 45px 0;
	border-bottom: 1px dashed #dddddd;
}
.countContent .list li .introduce p:first-child{
	margin-bottom: 5px;
}
.countContent .list li .count{
	width: 90%;
	margin-left:5%;
	border-bottom: 1px dashed #dddddd;
}
.countContent .list li .count span{
	width: 50%;
	line-height: 24px;
	float: left;
	text-align: left;
	font-size: 14px;
	margin-bottom: 5px;
	text-indent: 2px;
}
.countContent .list li .count.p25{
	padding: 25px 0;
}
.countContent .list li .count span img{
	margin-right: 5px;
	height: 12px;
}
.countContent .list li .price{
	padding: 30px 0;
}
.countContent .list li .price p{
	font-size: 36px;
	line-height: 36px;
	color: #2a76f0;
}
.countContent .list li .price a{
	font-size: 12px;
	color: #fff;
	background:  #2a76f0;
	width: 120px;
	padding: 10px 0;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
}

